# Dependencias de Node.js
node_modules/

# Configuración del entorno
.env

# Archivos del sistema operativo
.DS_Store  # macOS
Thumbs.db  # Windows

# Logs de la aplicación
logs/
*.log

# Archivos de depuración
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Salida de pruebas
coverage/

# Archivos de compilación (si luego usas TypeScript o Babel)
dist/
build/

# Configuración de editores de texto y sistemas de desarrollo
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
